.App {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(56, 56, 56);
  height: 800px;
}

*{
  margin: 0px;
}

nav{
  background: rgb(253, 187, 65);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  width: 100%;
  border: solid;
  border-width: 1px;
  border-color: black;
  margin-bottom: 15px;
  position: fixed;
}

.logo-img{
  width: 80px;
  height: 80px;
  margin: 5px 5px;
}

.routes{
  width: 100%;
}

.routes ul{
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
}

.routes li{
  margin-right: 10px;
  list-style-type: none;
}

.routes li a{
  color: white; 
  text-decoration: none; 
  transition: 0.7s;
}

.routes li a:hover{
  background: rgb(197, 146, 51);
  padding: 8px 9px;
  border-radius: 8px;
  transition: 0.7s; 
}


.login-btn{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 15px;
  text-transform: capitalize;
}

.login-btn li{
  margin-right: 15px;
  list-style-type: none;
}

.login-btn a{
  text-decoration: none;
  color: white;
  transition: 0.7s;
}

.login-btn a:hover{
  background: rgb(197, 146, 51);
  padding: 8px 9px;
  border-radius: 8px;
  transition: 0.7s; 
}

@media screen and (min-width: 700px) {
  .list-container{
    height: 70vh;
    width: 50vw;
    transition: 0.7s;
  }
}

@media (min-width:300px) and (max-width: 699px) {
  .list-container{
    height: 70vh;
    width: 70vw;
    transition: 0.7s;
  }
  
}
.list-container{
  margin-top: 150px;
  border: solid;
  border-color: rgb(253, 187, 65);
  border-radius: 20px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  color: white;
}

.todo-list{
  width: 100%;
  justify-content: center;
  display: flex;
}

.list-header{
  height: 80px;
  width: 100%;
  background-color: royalblue;
  border-bottom: solid;
  border-color: rgb(253, 187, 65);
  border-radius: 15px 15px 0px 0px;
  border-width: 5px;
  font-size: 8px;
  align-items: center;
  display: flex;
}
.list-items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: capitalize;
}

.list-items h1{
  margin-right: 50px;
  margin-left: 35px;

  transition: 0.7s;
}

.list-items h1:hover{
  cursor: pointer;
  background-color: rgb(55, 89, 190);
  padding: 5px 5px;
  margin-bottom: 0px;
  margin-right: 45px;
  margin-left: 30px;
  transition: 0.7s;
}

.list-body{
  height: 100%;
  background-color: rgb(243, 239, 239);
  display: flex;
  color: royalblue;
  text-transform: capitalize;
}

.list-icon{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 0px;
}

i{
  font-size: 20px;
  margin-right: 5px;
  transition: 0.7s;
}

i:hover{
  font-size: 30px;
  margin-right: 5px;
  transition: 0.7s;
  cursor: pointer;
  color: rgb(197, 146, 51);
}

.list-icon button{
  background: none;
  color: rgb(253, 187, 65);
  border: none;
}
